<p style="color: green"><%= notice %></p>

<h1>Pacientes</h1>

<div id="pacientes">
  <% @pacientes.each do |paciente| %>
    <%= render paciente %>
    <p>
      <%= button_to "Mostre este paciente", paciente_path(paciente), method: :get, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= button_to "Novo paciente", new_paciente_path, method: :get, class: "btn btn-primary" %>
<%= button_to "Voltar para a página inicial", root_path, method: :get, class: "btn btn-secondary" %>
