<!DOCTYPE html>
<html>
<head>
  <title>Consulta-Sim</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
      body {
          font-family: Arial, sans-serif;
          text-align: center;
          background-color: #f0f0f0; /* Cor de fundo cinza claro */
          color: #333; /* Cor do texto escuro */
      }

      header {
          background-color: #333; /* Cor de fundo escura para o banner */
          color: #fff; /* Cor branca para o texto do banner */
          padding: 20px;
      }

      h1 {
          font-size: 36px;
          color: #333; /* Cor do título mais escura */
      }

      p {
          font-size: 18px;
          margin-bottom: 20px;
          color: #555; /* Cor do texto cinza mais escuro */
      }

      .container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }

      .actions {
          display: flex;
          align-items: center;
      }

      .lists {
          display: flex;
          align-items: center;
      }

      .btn {
          display: inline-block;
          margin: 10px;
          padding: 10px 20px;
          background-color: #00796b; /* Cor de fundo verde-azulado para os botões */
          color: #fff; /* Cor branca para o texto dos botões */
          text-decoration: none;
          border-radius: 5px;
          transition: background-color 0.3s; /* Transição suave da cor de fundo */
      }

      .btn i {
          margin-right: 5px;
      }

      .btn.highlight {
          background-color: #005247; /* Cor de destaque mais escura para os botões de agendamento e busca */
      }

      .btn.highlight:hover {
          background-color: #003529; /* Cor de destaque mais escura no hover */
      }
  </style>
</head>

<body>
<header>
  <h1>Bem-Vindo ao Consulta-Sim</h1>
</header>

<p>Aqui você pode agendar sua consulta.</p>

<div class="container">
  <div class="actions">
    <a href="<%= new_paciente_path %>" class="btn"><i class="fas fa-user"></i>Cadastrar Paciente</a>
    <a href="<%= new_medico_path %>" class="btn"><i class="fas fa-user"></i>Cadastrar Médico</a>
  </div>
  <div class="lists">
    <a href="<%= pacientes_path %>" class="btn"><i class="fas fa-list"></i>Ver a lista de Pacientes Cadastrados</a>
    <a href="<%= medicos_path %>" class="btn"><i class="fas fa-list"></i>Ver a lista de Médicos Cadastrados</a>
  </div>
</div>

<div class="container">
  <a href="<%= new_consulta_path %>" class="btn highlight"><i class="fas fa-calendar-plus"></i>Agende sua consulta</a>
  <a href="<%= search_consulta_path %>" class="btn highlight"><i class="fas fa-search"></i>Busque consultas agendadas</a>
</div>
</body>
</html>