<div id="<%= dom_id consulta %>">
  <p>
    <strong>Data:</strong>
    <%= consulta.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= consulta.horario %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consulta.paciente.nome if consulta.paciente %>
  </p>

  <p>
    <strong>Médico:</strong>
    <%= consulta.medico.nome if consulta.medico %>
  </p>
</div>
