<%= form_with(model: consulta, url: consultas_path) do |form| %>
  <% if @consulta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consulta.errors.count, "error") %> prohibited this consulta from being saved:</h2>
      <ul>
        <% consulta.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :medico_id %>
    <%= form.collection_select :medico_id, Medico.all, :id, :nome, prompt: "Selecione um médico" %>
  </div>

  <div class="field">
    <%= form.label :paciente_id %>
    <%= form.collection_select :paciente_id, Paciente.all, :id, :nome, prompt: "Selecione um paciente" %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data, class: "input" %>
  </div>

  <div>
    <%= form.label :horario, style: "display: block" %>
    <%= form.time_field :horario, class: "input" %>
  </div>


  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary" %>


  </div>

<% end %>
