<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Metatags e estilos aqui ... -->
</head>
<body>
<header>
  <h1>Editar Consulta</h1>
  <p class="notice"><%= notice %></p>
</header>

<div class="container">
  <%= form_for @consulta, method: :patch do |form| %>
    <%= render "form", consulta: @consulta %>
    <div>
      <%= form.label :data, style: "display: block" %>
      <%= form.date_field :data, value: @consulta.data, class: "input" %>
    </div>
    <div>
      <%= form.label :horario, style: "display: block" %>
      <% if @consulta.horario.is_a?(String) %>
        <%= form.time_field :horario, class: "input" %>
      <% else %>
        <%= form.time_field :horario, value: @consulta.horario.strftime("%H:%M"), class: "input" %>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit "Salvar" %>
    </div>
  <% end %>
</div>

<div class="container btn-container">
  <a class="btn" href="<%= consultas_path %>">Voltar para as Consultas</a>
  <a class="btn" href="<%= root_path %>">Voltar para a Página Inicial</a>
</div>
</body>
</html>
